<div id="card-front">
  <div id="quest">
    <div id="quest-display">
      {{Word}}
    </div>
    <div id="quest-name"></div>
    <div class="input">
      {{type:Do_Not_Modify}}
    </div>
  </div>
  <br>
  <div id="hint" class="flex-container">
	<div>
    <h2>Hint</h2>
	<p></p>
   </div>
  </div>
</div>

  <!-- Hide empty hint section -->
  <script>
    function disable_reading_div(id, readings) {
      var div = document.getElementById(id);
      if (readings === "") {
        div.style.display = "none";
      } else {
        div.style.display = "";
      }
    }

    disable_reading_div("hint", ``);
  </script>

<script>
  var questName = "{{Card}}";

  var questNameDiv = document.getElementById("quest-name");
  questNameDiv.innerHTML = "<b>" + questName + "</b>";

  if ("{{Card}}" === "Meaning") {
    questNameDiv.classList.add("quest");
  } else if ("{{Card}}" === "Reading") {
    questNameDiv.classList.add("quest2");
  }

  var questDisplayDiv = document.getElementById("quest-display");

  questDisplayDiv.classList.add("vocab");

  var answerDiv = document.getElementById("typeans");
  if (answerDiv !== null) {
    answerDiv.setAttribute("placeholder", "Your Response");
  }
</script>
