<div id="card-front">
    <div id="quest">
        <div id="quest-display">
            {{Word}}
        </div>
        <div id="quest-name"></div>
        <div class="input">
            {{type:Do_Not_Modify}}
        </div>
    </div>
</div>

<script>
    var questName = "{{Card}}";

    var questNameDiv = document.getElementById("quest-name");
    questNameDiv.innerHTML = "<b>" + questName + "</b>";

    if ("{{Card}}" === "Meaning") {
        questNameDiv.classList.add("quest");
    } else if ("{{Card}}" === "Reading") {
        questNameDiv.classList.add("quest2");
    }

    var questDisplayDiv = document.getElementById("quest-display");

    questDisplayDiv.classList.add("vocab-stroke");

    var answerDiv = document.getElementById("typeans");
    if (answerDiv !== null) {
        answerDiv.setAttribute("placeholder", "Your Response");
    }
</script>

<div id="card-back">
    <div class="text">
        <div id="readings">
            <p class="pinyin">{{Reading}}</p>
        </div>
        <div id="meanings" class="meanings">
            {{Meaning}}
        </div>
    </div>
    <div id="reading-audio">
       {{Audio}}
    </div>
</div>

<!-- Check the answer -->
<script>
  //some addons read the script too early:
  if (document.getElementById("typeans")) {
    var typedAnswer = "";
    var typedAnswer_element = document.getElementById("typeans");
    if (typedAnswer_element.querySelector(".typegiven")) {
      // the "typegiven" class exists only on iphone:
      typedAnswer = typedAnswer_element
        .querySelector(".typegiven")
        .querySelector(".typeBad").innerText;
    } else if (typedAnswer_element.querySelector(".typeBad")) {
      //for pc and android:
      typedAnswer = typedAnswer_element.querySelector(".typeBad").innerText;
    }

    typedAnswerLower = typedAnswer.toLowerCase();

    var meaningWhitelist = `{{Meaning_Whitelist}}`.toLowerCase().split(", ");
    var meaningBlacklist = `{{Meaning_Blacklist}}`.toLowerCase().split(", ");
    var readingWhitelist = `{{Reading_Whitelist}}`.toLowerCase().split(", ");
    var readingBlacklist = `{{Reading_Blacklist}}`.toLowerCase().split(", ");

    var correctAnswers = [];
    var incorrectAnswers = [];
    if (`{{Card}}` === "Meaning") {
      correctAnswers = meaningWhitelist;
      incorrectAnswers = meaningBlacklist;
    } else if (`{{Card}}` === "Reading") {
      correctAnswers = readingWhitelist;
      incorrectAnswers = readingBlacklist;
    }

    var answerDiv = document.createElement("div");
    answerDiv.setAttribute("id", "typeans");
    answerDiv.innerHTML = typedAnswer;
    document.getElementById("typeans").replaceWith(answerDiv);

    if (typedAnswerLower === "") {
      answerDiv.style.display = "none";
    } else if (incorrectAnswers.includes(typedAnswerLower)) {
      answerDiv.classList.add("incorrect");
    } else if (correctAnswers.includes(typedAnswerLower)) {
      answerDiv.classList.add("correct");
    } else {
      answerDiv.classList.add("incorrect");
    }
  }
</script>

<!-- Generate tooltips -->
<script>
    function setTooltips(tags, text) {
        for (var i = 0; i < tags.length; i++) {
            tags[i].setAttribute("title", text);
        }
    }

    var kanji = document.getElementsByTagName("kanji");
    var radicals = document.getElementsByTagName("radical");
    var vocab = document.getElementsByTagName("vocab");
    var reading = document.getElementsByTagName("reading");

    setTooltips(kanji, "kanji");
    setTooltips(radicals, "radical");
    setTooltips(vocab, "vocab");
    setTooltips(reading, "reading");
</script>