{{FrontSide}}

<div id="card-back">
    <div id="container" class="flex-container">
        <div id="meanings" class="meanings">
        </div>
        <div id="context" class="context">
            <div id="context-img" class="context-img">{{Picture}}</div>
            <div id="context-sentence" class="context-sentence">{{Sentence}}</div>
        </div>
        <div id="reading" class="reading">
            <div id="reading-graph"> {{Graph}}</div>
            <div id="reading-hiragana" class="reading-hiragana">{{Reading}}</div>
        </div>
    </div>
    <div id="audio-container" class="flex-container">
        <div id="reading-audio" class="hidden">{{Audio}}</div>
        <div id="sentence-audio" class="hidden">{{SentenceAudio}}</div>
    </div>
</div>

<!-- Insert meanings -->
<script>
  var meanings = `{{Meaning}}`.split(" | ");
  var meanings_html = "";
  for (var me of meanings) {
    if (me !== meanings[0]) {
      meanings_html += "<br>";
    }
    meanings_html += `${me}`;
  }
  document.getElementById("meanings").innerHTML = meanings_html;
</script>

<!-- Check the answer -->
<script>
  //some addons read the script too early:
  if (document.getElementById("typeans")) {
    var typedAnswer = "";
    var typedAnswer_element = document.getElementById("typeans");
    if (typedAnswer_element.querySelector(".typegiven")) {
      // the "typegiven" class exists only on iphone:
      typedAnswer = typedAnswer_element
          .querySelector(".typegiven")
          .querySelector(".typeBad").innerText;
    } else if (typedAnswer_element.querySelector(".typeBad")) {
      //for pc and android:
      typedAnswer = typedAnswer_element.querySelector(".typeBad").innerText;
    }

    typedAnswerLower = typedAnswer.toLowerCase();

    var correctAnswers = [];
    if (`{{Card}}` === "Meaning") {
      correctAnswers = `{{Meaning}}`.toLowerCase().split(" | ");
    } else if (`{{Card}}` === "Reading") {
      correctAnswers = `{{Reading}}`.toLowerCase().split(", ");
    }

    var answerDiv = document.createElement("div");
    answerDiv.setAttribute("id", "typeans");
    answerDiv.innerHTML = typedAnswer;
    document.getElementById("typeans").replaceWith(answerDiv);

    if (typedAnswerLower === "") {
      answerDiv.style.display = "none";
      document.getElementById("quest").classList.add("empty");
    } else if (correctAnswers.includes(typedAnswerLower)) {
      answerDiv.classList.add("correct");
    } else {
      answerDiv.classList.add("incorrect");
    }
  }
</script>

<!-- Fixes the heights of the elements -->
<script>
  var context_height = document.getElementById("context").clientHeight;

  for(var el of [document.getElementById("meanings"), document.getElementById("reading")]) {
    if (el.clientHeight < context_height) {
      el.style.height = context_height + "px";
    }
  }
</script>
