{{FrontSide}}

<div id="card-back">
    <div id="container" class="flex-container">
        <div id="meanings" class="meanings">
            <h2>Meanings</h2>
            <p id="definitons" class="definitions"></p>
        </div>
        <div id="context" class="context">
            <div id="context-img" class="context-img">{{Picture}}</div>
            <div id="context-sentence" class="japanese">{{Sentence}}</div>
        </div>
        <div id="readings" class="readings">
            <h2>Readings</h2>
            <div id="graph"> {{Graph}}</div>
            <div id="reading" class="japanese">{{Reading}}</div>
        </div>
    </div>
    <div id="audio-container" class="flex-container">
        <div id="reading-audio" class="hidden">{{Audio}}</div>
        <div id="sentence-audio" class="hidden">{{SentenceAudio}}</div>
    </div>
</div>

<!-- Check the answer -->
<script>
  //some addons read the script too early:
  if (document.getElementById("typeans")) {
    var typedAnswer = "";
    var typedAnswer_element = document.getElementById("typeans");
    if (typedAnswer_element.querySelector(".typegiven")) {
      // the "typegiven" class exists only on iphone:
      typedAnswer = typedAnswer_element
          .querySelector(".typegiven")
          .querySelector(".typeBad").innerText;
    } else if (typedAnswer_element.querySelector(".typeBad")) {
      //for pc and android:
      typedAnswer = typedAnswer_element.querySelector(".typeBad").innerText;
    }

    typedAnswerLower = typedAnswer.toLowerCase();

    var meaningWhitelist = `{{Meaning}}`.toLowerCase().split(" | ");
    var readingWhitelist = `{{Reading}}`.toLowerCase().split(", ");

    var correctAnswers = [];
    if (`{{Card}}` === "Meaning") {
      correctAnswers = meaningWhitelist;
    } else if (`{{Card}}` === "Reading") {
      correctAnswers = readingWhitelist;
    }

    var answerDiv = document.createElement("div");
    answerDiv.setAttribute("id", "typeans");
    answerDiv.innerHTML = typedAnswer;
    document.getElementById("typeans").replaceWith(answerDiv);

    if (typedAnswerLower === "") {
      answerDiv.style.display = "none";
      document.getElementById("quest").classList.add("empty");
    } else if (correctAnswers.includes(typedAnswerLower)) {
      answerDiv.classList.add("correct");
    } else {
      answerDiv.classList.add("incorrect");
    }
  }
</script>

<!-- Insert meanings -->
<script>
  function titleCase(str) {
    return str.toLowerCase().split(' ').map(function(word) {
      return word.replace(word[0], word[0].toUpperCase());
    }).join(' ');
  }

  var meanings = `{{Meaning}}`.split(" | ");
  var meanings_html = "";
  for (var me of meanings) {
    meanings_html += `<p>${titleCase(me)}</p>`;
  }
  document.getElementById("definitons").innerHTML = meanings_html;
</script>
