<div id="card-front">
    <div id="quest" class="quest">
        <div id="quest-word" class="quest-word">{{Word}}</div>
        <div id="quest-type"  class="quest-type"><b>{{Card}}</b></div>
        <div id="quest-input">{{type:Do_Not_Modify}}</div>
    </div>

    <script>
      // Depending on the card type, adds one style or the other
      var questWordDiv = document.getElementById("quest");
      if ("{{Card}}" === "Meaning") {
        questWordDiv.classList.add("quest-meaning");
      } else if ("{{Card}}" === "Reading") {
        questWordDiv.classList.add("quest-reading");
      }

      // Adds a placeholder when nothing is written in the type-in field
      var answerDiv = document.getElementById("typeans");
      if (answerDiv !== null) {
        answerDiv.setAttribute("placeholder", "Your Response");
      }
    </script>
</div>
