@font-face {
  font-family: "FZKai";
  src: url("FZKai-Z03S Regular.ttf");
}

@font-face {
  font-family: "KanjiStrokeOrders";
  src: url("CNstrokeorder-0.0.4.7.ttf");
}

@font-face {
  font-family: "NotoSansR";
  src: url("NotoSans-Regular.ttf");
}

@font-face {
  font-family: "NotoSansB";
  src: url("NotoSans-Bold.ttf");
}

:root {
  --background-color-light: #ededed;
  --background-color-dark: #2f2f31;

  --font-color-dark: #444444;
  --font-color-light: white;

  --border-color: darkgray;

  --shadow-color: darkgray;

  --kanji-color: #f100a1;
  --kanji-color-dark: #b30077;

  --reading-color: #484848;
  --reading-color-dark: #0a0a0a;

  --radical-color: #00a0f1;
  --radical-color-dark: #0077b2;

  --vocab-color: #bc0000;
  --vocab-color-dark: #7600b1;

  --incorrect-color: #bc0000;
  --correct-color: #219906;
}

.card {
  font-family: arial;
  color: black;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  border-color: var(--border-color);
}

#card-front {
  font-size: 20px;
  text-align: center;
  line-height: normal;
}

#card-back {
  font-size: 15px;
  text-align: left;
  color: var(--font-color-light);
  max-width: 80ch;
  margin: auto;
  padding: 2%;
}

vocabulary {
  background-color: var(--vocab-color-dark);
}

vocabulary,
.primary-highlight {
  color: var(--font-color-light);
  padding: 3px;
  margin: 0px 2px 0px 0px;
  border-radius: 4px;
}

/* front of card */

.quest {
  background: #757575;
  color: var(--font-color-light);
  line-height: 40px;
}

.quest2 {
  background: #323232;
  color: var(--font-color-light);
  line-height: 40px;
}

#typeans {
  line-height: 40px;
  text-align: center;
  height: 40px;
  border: 0;
  outline-style: none;
  font-family: arial;
  margin: 5px;
  background-color: var(--background-color-dark);
  color: var(--font-color-light);
}

/* back of card */

#card-back h2 {
  border-bottom: 1px solid;
}

.correct {
  background: var(--correct-color) !important;
  color: var(--font-color-light);
}

.incorrect {
  background: var(--incorrect-color) !important;
  color: var(--font-color-light);
}

.vocab {
  font-family: "FZKai";
  font-size: 250px;
  color: var(--font-color-light);
  background-color: var(--vocab-color);
}

.vocab-stroke {
  font-family: "KanjiStrokeOrders";
  font-size: 250px;
  color: var(--font-color-light);
  background-color: var(--vocab-color);
}

.text {
  font-family: "NotoSansR";
  font-size: 24px;
  text-align: center;
}

.pinyin {
	font-family: "NotoSansB";
}

#fixed-bottom {
  position: fixed;
  bottom: 0px;
  float: left;
}