@font-face {
  font-family: "Hiragino Kaku Gothic Pro W3";
  src: url("_hirakakyprow3.otf");
}

@font-face {
  font-family: "KanjiStrokeOrders";
  src: url("_KanjiStrokeOrders_v2.016.ttf");
}

:root {
  --background-color-light: #ededed;
  --background-color-dark: #dfdfdf;

  --font-color-dark: #444444;
  --font-color-light: white;

  --border-color: darkgray;

  --shadow-color: darkgray;

  --kanji-color: #f100a1;
  --kanji-color-dark: #b30077;

  --reading-color: #484848;
  --reading-color-dark: #0a0a0a;

  --radical-color: #00a0f1;
  --radical-color-dark: #0077b2;

  --vocab-color: #9e00ed;
  --vocab-color-dark: #7600b1;

  --incorrect-color: #c10707;
  --correct-color: #219906;

  --background-color-typeans: #2f2f31;
}

.card {
  font-family: arial;
  color: black;
  line-height: 1.6;
  margin: 0px;
  padding: 0px;
  border-color: var(--border-color);
}

#card-front {
  font-size: 20px;
  text-align: center;
  line-height: normal;
}

#card-back {
  font-size: 15px;
  text-align: left;
  color: var(--font-color-light);
  max-width: 80ch;
  margin: auto;
  padding: 2%;
}

kanji {
  background-color: var(--kanji-color-dark);
}

reading {
  background-color: var(--reading-color-dark);
}

radical {
  background-color: var(--radical-color-dark);
}

vocabulary {
  background-color: var(--vocab-color-dark);
}

kanji,
reading,
radical,
vocabulary,
.primary-highlight {
  color: var(--font-color-light);
  padding: 3px;
  margin: 0px 2px 0px 0px;
  border-radius: 4px;
}

/* front of card */

.quest {
  background: #757575;
  color: var(--font-color-light);
  line-height: 40px;
}

.quest2 {
  background: #323232;
  color: var(--font-color-light);
  line-height: 40px;
}

#typeans {
  line-height: 40px;
  text-align: center;
  height: 40px;
  border: 0;
  outline-style: none;
  font-family: arial;
  margin: 5px;  background-color: var(--background-color-typeans);
  color: var(--font-color-light);
}

/* back of card */

#card-back h2 {
  border-bottom: 1px solid;
}

.correct {
  background: var(--correct-color) !important;
  color: var(--font-color-light);
}

.incorrect {
  background: var(--incorrect-color) !important;
  color: var(--font-color-light);
}

#meanings p {
  font-weight: bold;
  color: var(--font-color-light);
}

#reading-audios {
  text-align: center;
}

#components {
  display: inline;
  color: var(--font-color-light);
}

#components:empty {
  display: none;
}

.component radical,
.component kanji,
.component vocabulary {
  font-size: 30px;
  margin: 5px;
  color: var(--font-color-light);
}

.component span {
  font-size: 20px;
  margin: 5px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  flex-direction: column;
}

.mnemonic-hint {
  font-style: italic;
  background-color: var(--background-color-dark);
  color: var(--font-color-dark);
  margin: 1% 0;
  padding: 2%;
}

.radical {
  font-family: "Hiragino Kaku Gothic Pro W3";
  font-size: 100px;
  color: var(--font-color-light);
  background-color: var(--radical-color);
}

.kanji {
  font-family: "Hiragino Kaku Gothic Pro W3";
  font-size: 180px;
  color: var(--font-color-light);
  background-color: var(--kanji-color);
}

.vocab {
  font-family: "Hiragino Kaku Gothic Pro W3";
  font-size: 150px;
  color: var(--font-color-light);
  background-color: var(--vocab-color);
}

.kanji-stroke {
  font-family: "KanjiStrokeOrders";
  font-size: 200px;
  color: var(--font-color-light);
  background-color: var(--kanji-color);
}

.vocab-stroke {
  font-family: "KanjiStrokeOrders";
  font-size: 170px;
  color: var(--font-color-light);
  background-color: var(--vocab-color);
}

.hiragana {
  font-family: "Hiragino Kaku Gothic Pro W3";
  font-size: 25 px;
  color: var(--font-color-light);
}

.text {
  font-family: "Ubuntu Light", "HelveticaNeueLT Std Lt";
  font-style: "italics";
  color: var(--font-color-light);
}

.radicon {
  color: var(--font-color-light);
  font-size: 100px;
}

#fixed-bottom {
  position: fixed;
  bottom: 0px;
  float: left;
}

/*
  Icon Font: WakaFont
*/

@font-face {
  font-family: "WakaFont";
  src: url("_WakaFont.eot");
  src: url("_WakaFont.eot?#iefix") format("embedded-opentype"),
    url("_WakaFont.woff") format("woff"),
    url("_WakaFont.ttf") format("truetype"),
    url("_WakaFont.svg#WakaFont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "WakaFont";
    src: url("_WakaFont.svg#WakaFont") format("svg");
  }
}

[data-icon]:before {
  content: attr(data-icon);
}

[data-icon]:before,
.radical-animal:before,
.radical-arrows:before,
.radical-bar:before,
.radical-bear:before,
.radical-beggar:before,
.radical-black-hole:before,
.radical-blackjack:before,
.radical-boob:before,
.radical-bookshelf:before,
.radical-butcher:before,
.radical-cactus:before,
.radical-cat-pirate:before,
.radical-chester:before,
.radical-chinese:before,
.radical-circus:before,
.radical-cleat:before,
.radical-cloak:before,
.radical-clown:before,
.radical-coffin:before,
.radical-comb:before,
.radical-corn:before,
.radical-cow-god:before,
.radical-creeper:before,
.radical-death-star:before,
.radical-egg:before,
.radical-explosion:before,
.radical-fish-stick:before,
.radical-fish-tail:before,
.radical-flowers:before,
.radical-football:before,
.radical-four:before,
.radical-gambler:before,
.radical-geoduck:before,
.radical-grass:before,
.radical-greenhouse:before,
.radical-gun:before,
.radical-hat:before,
.radical-hercules:before,
.radical-hick:before,
.radical-hills:before,
.radical-horns:before,
.radical-key:before,
.radical-kick:before,
.radical-lantern:before,
.radical-leaf:before,
.radical-mohawk:before,
.radical-morning:before,
.radical-mustache:before,
.radical-nailbat:before,
.radical-ox:before,
.radical-pi:before,
.radical-poem:before,
.radical-pool:before,
.radical-pope:before,
.radical-potato:before,
.radical-propaganda:before,
.radical-psychopath:before,
.radical-ribs:before,
.radical-rocket:before,
.radical-roof:before,
.radical-sauron:before,
.radical-saw:before,
.radical-shark:before,
.radical-sick:before,
.radical-signpost:before,
.radical-slice:before,
.radical-slinky:before,
.radical-sock:before,
.radical-spikes:before,
.radical-splinter:before,
.radical-squid:before,
.radical-stick:before,
.radical-superman:before,
.radical-tofu:before,
.radical-tombstone:before,
.radical-train:before,
.radical-triceratops:before,
.radical-trident:before,
.radical-tsunami:before,
.radical-umbrella:before,
.radical-viking:before,
.radical-water-slide:before,
.radical-womb:before,
.radical-worm:before,
.radical-zombie:before {
  display: inline-block;
  font-family: "WakaFont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.radical-animal:before {
  content: "\f100";
}
.radical-arrows:before {
  content: "\f101";
}
.radical-bar:before {
  content: "\f102";
}
.radical-bear:before {
  content: "\f103";
}
.radical-beggar:before {
  content: "\f104";
}
.radical-black-hole:before {
  content: "\f105";
}
.radical-blackjack:before {
  content: "\f106";
}
.radical-boob:before {
  content: "\f107";
}
.radical-bookshelf:before {
  content: "\f108";
}
.radical-butcher:before {
  content: "\f109";
}
.radical-cactus:before {
  content: "\f10a";
}
.radical-cat-pirate:before {
  content: "\f10b";
}
.radical-chester:before {
  content: "\f10c";
}
.radical-chinese:before {
  content: "\f10d";
}
.radical-circus:before {
  content: "\f10e";
}
.radical-cleat:before {
  content: "\f10f";
}
.radical-cloak:before {
  content: "\f110";
}
.radical-clown:before {
  content: "\f111";
}
.radical-coffin:before {
  content: "\f112";
}
.radical-comb:before {
  content: "\f113";
}
.radical-corn:before {
  content: "\f114";
}
.radical-cow-god:before {
  content: "\f115";
}
.radical-creeper:before {
  content: "\f116";
}
.radical-death-star:before {
  content: "\f117";
}
.radical-egg:before {
  content: "\f118";
}
.radical-explosion:before {
  content: "\f119";
}
.radical-fish-stick:before {
  content: "\f11a";
}
.radical-fish-tail:before {
  content: "\f11b";
}
.radical-flowers:before {
  content: "\f11c";
}
.radical-football:before {
  content: "\f11d";
}
.radical-four:before {
  content: "\f11e";
}
.radical-gambler:before {
  content: "\f11f";
}
.radical-geoduck:before {
  content: "\f120";
}
.radical-grass:before {
  content: "\f121";
}
.radical-greenhouse:before {
  content: "\f122";
}
.radical-gun:before {
  content: "\f123";
}
.radical-hat:before {
  content: "\f124";
}
.radical-hercules:before {
  content: "\f125";
}
.radical-hick:before {
  content: "\f126";
}
.radical-hills:before {
  content: "\f127";
}
.radical-horns:before {
  content: "\f128";
}
.radical-key:before {
  content: "\f129";
}
.radical-kick:before {
  content: "\f12a";
}
.radical-lantern:before {
  content: "\f12b";
}
.radical-leaf:before {
  content: "\f12c";
}
.radical-mohawk:before {
  content: "\f12d";
}
.radical-morning:before {
  content: "\f12e";
}
.radical-mustache:before {
  content: "\f12f";
}
.radical-nailbat:before {
  content: "\f130";
}
.radical-ox:before {
  content: "\f131";
}
.radical-pi:before {
  content: "\f132";
}
.radical-poem:before {
  content: "\f133";
}
.radical-pool:before {
  content: "\f134";
}
.radical-pope:before {
  content: "\f135";
}
.radical-potato:before {
  content: "\f136";
}
.radical-propaganda:before {
  content: "\f137";
}
.radical-psychopath:before {
  content: "\f138";
}
.radical-ribs:before {
  content: "\f139";
}
.radical-rocket:before {
  content: "\f13a";
}
.radical-roof:before {
  content: "\f13b";
}
.radical-sauron:before {
  content: "\f13c";
}
.radical-saw:before {
  content: "\f13d";
}
.radical-shark:before {
  content: "\f13e";
}
.radical-sick:before {
  content: "\f13f";
}
.radical-signpost:before {
  content: "\f140";
}
.radical-slice:before {
  content: "\f141";
}
.radical-slinky:before {
  content: "\f142";
}
.radical-sock:before {
  content: "\f143";
}
.radical-spikes:before {
  content: "\f144";
}
.radical-splinter:before {
  content: "\f145";
}
.radical-squid:before {
  content: "\f146";
}
.radical-stick:before {
  content: "\f147";
}
.radical-superman:before {
  content: "\f148";
}
.radical-tofu:before {
  content: "\f149";
}
.radical-tombstone:before {
  content: "\f14a";
}
.radical-train:before {
  content: "\f14b";
}
.radical-triceratops:before {
  content: "\f14c";
}
.radical-trident:before {
  content: "\f14d";
}
.radical-tsunami:before {
  content: "\f14e";
}
.radical-umbrella:before {
  content: "\f14f";
}
.radical-viking:before {
  content: "\f150";
}
.radical-water-slide:before {
  content: "\f151";
}
.radical-womb:before {
  content: "\f152";
}
.radical-worm:before {
  content: "\f153";
}
.radical-zombie:before {
  content: "\f154";
}
