{{FrontSide}}

<div id="card-back">
    <div id="container" class="flex-container">
        <div id="meanings" class="meanings">
        </div>
        <div id="context" class="context">
            <div id="context-img" class="context-img">{{Picture}}</div>
            <div id="context-sentence" class="context-sentence">{{Sentence}}</div>
        </div>
        <div id="reading" class="reading">
            <div id="reading-graph"></div>
            <div id="reading-hiragana" class="reading-hiragana">{{Reading}}</div>
        </div>
    </div>
    <div id="audio-container" class="flex-container">
        <div id="reading-audio" class="hidden">{{Audio}}</div>
        <div id="sentence-audio" class="hidden">{{SentenceAudio}}</div>
    </div>
</div>

<!-- Insert meanings -->
<script>
  var meanings = `{{Meaning}}`.split(" | ");
  var meanings_html = "";
  for (var me of meanings) {
    if (me !== meanings[0]) {
      meanings_html += "<br>";
    }
    meanings_html += `${me}`;
  }
  document.getElementById("meanings").innerHTML = meanings_html;
</script>

<!-- Insert graphs -->
<script>
  var graphs = `{{Graph}}`.split("</svg>");
  var graphs_html = "";
  for (var g of graphs) {
    if (g !== graphs[0]) {
      graphs_html += "<br>";
    }
    graphs_html += `${g}`;
    graphs_html += `</svg>`
  }
  document.getElementById("reading-graph").innerHTML = graphs_html;
</script>
